.social {
    text-align: center;
    margin: 0 auto 20px;
    display: flex;
    padding: 0px 15px;
}
.socialImg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}