.about{
    display: flex;
    justify-content: space-around;
    padding: 30px 0 60px;
    background-color: #ecfff0;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #000;
    padding: 0px 10px;
}
.img img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 280px;
    width: 100%;
}

@media (max-width: 450px) {
    .about{
        display: block;
        text-align: center;
    }
    .info{
        margin: 0 0 30px;
        justify-content: center;
    }
}