.contact{
    text-align: center;
    background-color: #ffc4bc;
}

.info{
    padding: 5px 10px;
    background-color: #ccc;
    width: 150px;
    margin: 0 auto 39px;
    font-size: 24px;
    font-weight: 700;
}

.input{
    display: block;
    margin: 0 auto 30px;
    max-width: 450px;
    width: 100%;
    padding: 8px;
}

.textarea{
    resize: none;
    max-width: 450px;
    width: 100%;
    height: 90px;
    padding: 8px;
    margin-bottom: 60px;
}

.textarea::placeholder,
.input::placeholder{
    font-size: 16px;
}

.btn{
    border: none;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1.5px dashed #c8e1ff;
}
.btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #ffc4bc;
}