.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #c9ddff;
}
.logo{
    margin-left: 40px;
}

@media (max-width: 650px) {
    .logo{
        margin-left: 15px;
    }
}
@media (max-width: 355px) {
    .logo img{
        width: 40px;
        height: 40px;
    }
    .logo{
        margin-left: 5px;
    }
}