.skills{
    text-align: center;
    background-color: #efe9ff;
}

.title{
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto 25px;
    background-color: #ccc;
    width: 200px;
    padding: 10px;
}

.items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}